.App-logo {
  height: 80px;
}

.App-header {
  border-bottom: solid 2px black;
  padding: 0 30px 0 70px;
}

.App-intro {
  font-size: large;
}

#wrapper {
  display: flex;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
}
h1 {
  background: lightblue;
  padding: 10px 15px;
  color: #111;
  font-weight: lighter;
  margin-top: 0;
  font-size: 24px;
  text-shadow: 0 -1px #fff;
  border-bottom: solid 1px #666;
  border-radius: 0 0 20px 20px;
  text-align: center;
}

header svg {
  width: 50px;
}

main {
  padding: 0px 20px 20px 20px;
  width: 100%;
}

nav {
  min-width: 200px;
  text-align: center;
  background: #000;
  min-height: calc(100vh - 86px);
  margin-left: 0;
  transition: margin 0.5s;
  position: absolute;
  height: 100%;
}

nav a {
  color: #fff;
  text-decoration: none;
}
.active {
  text-decoration: underline;
}

nav ul {
  margin-top: 40px;
}

nav li {
  margin-bottom: 20px;
}

.toggle-menu {
  margin-left: -200px;
}

#toggle-link {
  display: flex;
}

#home-splash {
  display: block;
  margin: auto;
  max-width: 1000px;
  width: 100%;
  padding-bottom: 20px;
}

article {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #bbb;
  text-align: center;
}

article:first-of-type {
  border-top: 1px solid #bbb;
}

article img {
  display: none;
}

.person {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #bbb;
}

.person h2 {
  font-size: 18px;
}

.person-details {
    align-self: center;
}

.person-info {
  display: flex;
}

.person-info img {
  align-self: center;
  width: 85px;
  height: 85px;
  padding-right: 10px;
}

#contact-info {
  display: flex;
}

/* Form */
form {
  width: 50%;
}

form div {
  margin-top: 15px;
}

label {
  display: inline-block;
  padding-right: 5px;
  text-align: right;
  width: 100px;
}

textarea {
  height: 80px;
  vertical-align: top;
}

input,
textarea {
  border: 1px solid #888;
  font: 16px sans-serif;
  width: 350px;
}

#button {
  padding-left: 100px;
}

button {
  margin-left: 5px;
}

input:focus,
textarea:focus {
  border-color: #000;
}

@media screen and (min-width: 600px) {
  .person img {
    width: 176px;
    height: 176px;
  }
  .person h2 {
    font-size: 22px;
  }
  .person address {
    font-size: 20px;
  }
  .person-description {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 800px) {
  h1 {
    margin: 0 -20px 20px -20px;
    border-radius: 0;
    text-align: left;
  }
  .toggle-menu {
    margin-left: 0;
  }
  main {
    padding-left: 220px;
  }
  article {
    text-align: left;
  }
  #toggle-link {
    display: none;
  }
  .person {
    border: solid 1px #bbb;
    padding: 20px;
    border-radius: 20px 0;
    box-shadow: 2px 2px 10px #666;
  }
  .person h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  article img {
    margin-right: 30px;
    min-width: 500px;
    border-radius: 20px 0;
    display: block;
  }
  .person {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1600px) {
  .App-logo {
    height: 120px;
  }
  nav {
    min-width: 300px;
  }
  nav a {
    font-size: 22px;
  }
  nav li {
    margin-bottom: 30px;
  }
  main {
    padding-left: 320px;
  }
  .App-header {
    padding: 10px 110px;
  }
}
